/* global style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


section {

    padding: 60px 0;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #8e7754
}

.container {
    width: 70%;
    margin: 0 auto;

}

.clear-float {
    clear: both;
}


/* start nav style  */
nav {

    padding: 20px 0;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 9999;
}


nav figure {
    width: 100px;

    float: left;
}

nav figure img {
    width: 100%;
    height: 100%;
}

.nav-links {
    float: right;
    width: 40%;

}

.nav-links a {
    padding: 10px;
}

.home {
    background-image: url("../image/image1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    text-align: center;
    font-family: "Algarya sans";
    color: #fff;
}

.home header {
    width: 40%;
    margin: 300px auto;
}

.home .layer {
    width: 100%;
    height: 100%;
    top: 0;
}

.home header h4 {
    font-size: 22px;


}

.home header h1 {
    font-size: 35px;

}

.home header p {
    font-size: 20px;
}

.LearnMore-btn,
.ContactUs-btn {
    font-family: "Alegreya Sans";
    border: 2px solid transparent;
    border-radius: px 28px;
    font-weight: bold;
    margin: 12px 12px 0 0;
    font-size: 14px;
    padding: 10px 17px;

}

.LearnMore-btn {
    background-color: #8e7754;
    color: #fff;
}

.LearnMore-btn:hover {
    background-color: #fff;
    color: black;
}

.ContactUs-btn {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.ContactUs-btn:hover {
    border: #fff;
    color: black;
}

.box {
    position: fixed;
    background: #fff;
    border-radius: 4px 0 0 4px;
    width: 42px;
    height: 86px;
    right: 0;
    top: 30%;
    padding: 15px;
}

.box a {
    color: #888;
    display: block;
    font-size: 16px;
    font-family: "Alegreya Sans";
    border-radius: 3px;
    margin: 0 2px;
}


/*  Who styling  */
.who-details {
    width: 45%;
    float: right;
}


.who figure {
    float: left;
    width: 45%;
}

figure img {
    width: 100%;
}







/*  Location styling  */

.location {
    background-color: #f8f8f8;
}

.location figure {
    float: right;
    width: 45%;
}

.Location-details {
    float: left;
    width: 45%;
}



/* baking styling  */


.imgs {
    padding: 0 10px;
    width: calc(100%/3);
    float: left;
    text-align: center;
}



.Baking h6 {

    font-size: 22px;
    color: #555555;
    text-align: center;

}

.Baking p {
    font-size: 17px;
    color: #888;
    text-align: center;
    margin: 15px;
}

.imgs h4 {
    color: #303030;
    font-size: 22px;
}

.imgs p {
    color: #686868;
    font-size: 17px;
}





/* map  */

.map {
    background-color: #f8f8f8;
}

.map iframe {
    float: right;
    width: 45%;

}



/**/
.contact-details {
    float: left;
    width: 45%;

}

.footer {
    background-color: #403D38;
    color: #ccc;
    padding-top: 100px;


}

.footer-container {
    width: 90%;
    margin: auto;

}

.footer-box {
    width: 23%;
    float: left;


}

.footer-box h3 {
    color: #FFFFFF;
    font-size: 18PX;
    margin-bottom: 22PX;

}

.footer-box p {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 12px;
    color: #bbb;

}

.clear-float {

    clear: both;
}

.footer-bottom {
    background-color: #353330;
    margin-top: 50px;
    padding: 40px 0 30px;
    text-align: center;

}

.footer-logo {
    width: 150px;
    margin-bottom: 15px;
    padding: 20px;

}

.social-icons a {
    background-color: #353330;
    color: #686868;


}
@media screen and (max-width:1033px) {

    .who,
     .location, .footer-bottom{
        background-color: #353330;
    }
    .Baking{
        background-color: #ccc;
        
        }
        .imgs{
           background-color: #8e7754; 
        }
        .who-details,.who figure, .location, .location figure, .Location-details ,.img
        ,.Baking h6, .Baking p, .imgs h4, .imgs p,.map, .map iframe,.contact-details, 
        .imgs,.footer-box
        {
            width: 100%;
            float:none;

        }

         

        

}
    


